gitdb==4.0.11
GitPython==3.1.41
infinity==1.5
iniconfig==2.0.0
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pluggy==1.5.0
pytest==8.2.0
python-dateutil==2.9.0.post0
pytz==2024.1
setuptools==69.0.3
six==1.16.0
smmap==5.0.1
sortedcontainers==2.4.0
traces==0.6.3
tzdata==2024.1
wheel==0.43.0
